$module_declaration

///////////////////////////////////////////////////////////////////////////////
//                            WIRE DECLARATIONS                              //
///////////////////////////////////////////////////////////////////////////////
$wire_declarations

///////////////////////////////////////////////////////////////////////////////
//                               SUBMODULES                                  //
///////////////////////////////////////////////////////////////////////////////
#for $submodule in $submodule_instantiations
$submodule

#end for

///////////////////////////////////////////////////////////////////////////////
//                              MODULE LOGIC                                 //
///////////////////////////////////////////////////////////////////////////////
$module_logic

endmodule
