#for $wire in $wires
#if $wire.width > 1
#set $w = $wire.width - 1
wire [$w: 0] $wire.name;
#else
wire $wire.name;
#end if
#end for
#for $reg in $regs
#if $reg.width > 1
#set $w = $reg.width - 1
reg [$w: 0] $reg.name;
#else
reg $reg.name;
#end if
#end for
